footer {
    background: linear-gradient(150deg, rgba(9,0,57,1) 50%, rgba(128,1,150,1) 20%, rgba(117,3,166) 30%);
}

.rodape {
overflow: auto;  padding: 10px 0;
    display: flex;
    color: white;
}

.links-footer {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.links-footer h2 {
    font-family: 'Titillium Web';
    font-size: 24px;
}

.links-footer a {
    font-family: 'Titillium Web';
    font-size: 14px;
    color: white;
    text-decoration: none;
}














